html {
    background-color: #0084AE;
    
}

.backgound-recover {
    color: transparent;
    width: 850px !important;
    position: absolute;
    right: 10%;
    top: 15%;
}

.formu{
    position: absolute;
    top: 20%;
    left: 10%;
} 

.position{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerReg{
    display: flex;
    justify-content: center;
    align-items: center;
} 